<!DOCTYPE HTML>
<html layout:decorate="~{fragments/main_layout}" xmlns:layout="http://www.w3.org/1999/xhtml">
<body>
<div class="container" layout:fragment="content">

    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h1 class="display-3">
            <span th:if="${#authorization.expression('isAuthenticated()')}">
                <span th:text="'Welcome, ' + ${#authentication.principal.username}"></span>
            </span>
            <span th:unless="${#authorization.expression('isAuthenticated()')}">
                Welcome
            </span>

        </h1>

        <h3 class="display-4"> To E-Journal </h3>
        <p class="lead" th:text="'At ' + ${companyName} + ', we redefine logistics by seamlessly connecting supply chains and delivering unparalleled solutions' +
            'to meet your unique transportation and distribution needs. With a relentless commitment to excellence, we' +
            'take pride in optimizing your business operations and ensuring the efficient movement of goods across the globe.'">

        </p>
        <br>
    </div>
</div>
</body>
</html>