<!DOCTYPE HTML>
<html lang="en" layout:decorate="~{fragments/main_layout}" xmlns:layout="http://www.w3.org/1999/xhtml">
<body>
<div class="container" layout:fragment="content">
    <div class="py-5 text-center">
        <h2>Manage Qualifications</h2>
        <p class="lead">Explore and manage all qualifications by teacher</p>
    </div>

    <div class="table-responsive-lg">
        <div class="row">
            <div class="col-lg-12 order-lg-1">
                <!-- Teacher Selection Dropdown -->
                <form th:action="@{/qualifications}" method="get" onchange="this.form.submit()">
                    <div>
                        <span class="input-group-text bg-primary"><i class="fa fa-book text-white"></i></span>
                        <select class="form-control" id="teacher-select" name="teacherId" onchange="this.form.submit()">
                            onchange="submitTeacherForm()">
                            <option value="0" disabled selected>Select a teacher</option>
                            <option th:each="teacher : ${teachers}" th:value="${teacher.id}"
                                    th:text="${teacher.username}+' '+${teacher.name}+' '+${teacher.lastName}"></option>
                        </select>
                    </div>
                </form>

                <!-- Display selected teacher's name -->
                <div th:if="${selectedTeacher != null}" class="mt-3">
                    <h3 th:text="'Qualifications for: username - '+${selectedTeacher.username}+', full name - '+${selectedTeacher.name}+' '+${selectedTeacher.lastName}"></h3>
                </div>

                <!-- Qualifications Table -->
                <table class="table table-hover table-bordered" th:each="qualification : ${qualifications}">
                    <thead>
                    <tr>
                        <th scope="col">Subject Signature</th>
                        <th scope="col">Subject Name</th>
                        <th scope="col">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:if="${qualifications != null}" th:each="subject : ${qualifications.subjects}">
                        <td th:text="${subject.signature}">Subject Signature</td>
                        <td th:text="${subject.name}">Subject Name</td>
                        <td>
                            <form th:action="@{'/qualification/update/teacher=' + ${qualification.teacher.id}+'&oldSignature='+${subject.signature}}"
                                  th:method="get">
                                <button class="btn btn-success" type="submit"><i class="fa fa-edit"></i></button>
                            </form>
                            <form th:action="@{'/qualification/delete/teacher=' + ${qualification.teacher.id}+'&subject='+${subject.signature}}"
                                  th:method="DELETE">
                                <button class="btn btn-danger" onclick="return confirm('Are you sure?')" type="submit">
                                    <i class="fa fa-trash"></i>
                                </button>
                            </form>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <form th:action="@{/qualifications/add}" th:method="get">
                    <button class="btn btn-primary" type="submit">
                        <i class="fa fa-plus"></i>
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>
